#bkgr-img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.img {
    position: absolute;
}
#table {
	width: 110px;
	top: 350px;
	left: 45px;
	z-index: 3;
}
#pizza-box {
	width: 80px;
	top: 320px;
	left: 45px;
	z-index: 4;
}
#pizza-box2 {
	width: 80px;
	top: 310px;
	left: 45px;
	z-index: 5;
}
#pizza-box3 {
	width: 80px;
	top: 300px;
	left: 45px;
	z-index: 5;
}
#pizza-box4 {
	width: 80px;
	top: 290px;
	left: 45px;
	z-index: 5;
}
#pizza-box5 {
	width: 80px;
	top: 280px;
	left: 45px;
	z-index: 5;
}
#table2 {
	width: 100px;
	top: 310px;
	left: 120px;
	z-index: 2;
}
#chef3 {
	width: 130px;
	top: 310px;
	left: 150px;
	z-index: 10;
}
#customer1{
	width: 100px;
	top: 380px;
	left: 80px;
	z-index: 5;
}
#table3 {
	width: 130px;
	top: 450px;
	left: 150px;
	z-index: 2;
}
#chef1{
	width: 170px;
	top: 400px;
	left: 250px;
	z-index: 5;
}
#table4 {
	width: 130px;
	top: 450px;
	left: 800px;
	z-index: 2;
}
#computer-l {
	width: 80px;
	top: 250px;
	left: 135px;
	z-index: 3;
}
#computer-r {
	width: 80px;
	top: 400px;
	left: 830px;
	z-index: 10;
}
#freezer-closed{
	width: 130px;
	top: 250px;
	left: 1100px;
	z-index: 4;
}
#freezer-open{
	width: 130px;
	top: 250px;
	left: 1100px;
	z-index: 5;
}
/*#frozen-pizza{
	width: 100px;
	top: 280px;
	left: 1000px;
	z-index: 10;
}*/
#oven-closed{
	width: 100px;
	top: 300px;
	left: 700px;
	z-index: 6;
}
#oven-open{
	width: 100px;
	top: 300px;
	left: 700px;
	z-index: 5;
}

#chef2{
	width: 130px;
	top: 300px;
	left: 800px;
	z-index: 5;
}